/*********************/
/* BELOW 1344PX (SMALLER DESKTOP)*/
/*********************/

@media (max-width: 84em) {
  .hero {
    max-width: 1200px;
  }
}

.heading-primary {
  font-size: 4.4rem;
}

.gallery {
  grid-template-columns: repeat(2, 1fr);
}
